<ul class="social">
  <li class="service">
    <a class="git" href="http://cgit.benden.us/">
      <%= image_tag 'Git-Icon-Black.png', :width => 32, :height => 32 %>
    </a>
  </li>
  <li class="service">
    <a class="facebook" href="https://facebook.com/joseph.benden.9">
      <span class="ss-icon ss-social-regular">&#xF610;</span>
      <span class="service-name">Facebook</span>
    </a>
  </li>
  <li class="service">
    <a class="flickr" href="https://www.flickr.com/photos/123969191@N07/">
      <span class="ss-icon ss-social-regular"></span>
      <span class="service-name">Flickr</span>
    </a>
  </li>
  <li class="service">
    <a class="twitter" href="https://twitter.com/JBenden">
      <span class="ss-icon ss-social-regular">&#xF611;</span>
      <span class="service-name">Twitter</span>
    </a>
  </li>
  <li class="service">
    <a class="google" href="https://plus.google.com/115220155876462188345/about/p/pub" rel="author">
      <span class="ss-icon ss-social-regular">&#xF613;</span>
      <span class="service-name">Google+</span>
    </a>
  </li>
  <li class="service">
    <a class="youtube" href="http://youtube.com/JBenden1976">
      <span class="ss-icon ss-social-regular">&#xF630;</span>
      <span class="service-name">YouTube</span>
    </a>
  </li>
  <li class="service">
    <a class="linkedin" href="http://www.linkedin.com/pub/joseph-benden/9/750/6b9/">
      <span class="ss-icon ss-social-regular">&#xF612;</span>
      <span class="service-name">LinkedIn</span>
    </a>
  </li>
  <li class="service">
    <a class="github" href="http://github.com/jbenden">
      <span class="ss-icon ss-social-regular">&#xF671;</span>
      <span class="service-name">GitHub</span>
    </a>
  </li>
</ul>
